:root {
    --det: 6;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template: repeat(var(--det), calc(100vh / var(--det))) / repeat(var(--det), calc(100vw / var(--det)));
}

.cell {
    background-color: black;
}

.cell-img {
    width: 100%;
    height: 100%;
}