* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template: repeat(4, 25vh) / repeat(4, 25vw);
}

.cell {
    background-color: black;
}

.cell-img {
    width: 100%;
    height: 100%;
}